<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>Some information about who we are and what we do.</p>
        <p>We are a team of three coders in GREYBELL </p>
      </div>
      
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="../../../assets/images/alain.jpg.JPG" alt="Alain" style="width:100%">
            <div class="container">
              <h2>Alain Tawk</h2>
              <p class="title">main head</p>
              <p>Studied Mechanical engeneer at the Leb univesity </p>
              <p>Alain.tawk@greybell.com</p>
              <button type="button" class="btn btn-secondary btn-lg button">Contact</button>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="../../../assets/images/anthony.jpg.JPG" alt="Anthony" style="width:100%">
            <div class="container">
              <h2>Anthony Tawk</h2>
              <p class="title">Second branch</p>
              <p>Studied business at the NDU university</p>
              <p>Anthony.tawk@greybell.com</p>
              <button type="button" class="btn btn-secondary btn-lg button ">Contact</button>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="../../../assets/images/samer.jpg.JPG" alt="samer" style="width:100%">
            <div class="container">
              <h2>Samer Tawk</h2>
              <p class="title">Second branch</p>
              <p>Student of computer science at the LIU university </p>
              <p>Samer.tawk@greybell.com</p>
              <button type="button" class="btn btn-secondary btn-lg button ">Contact</button>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
