// .header
// {

//   position: fixed;
// background-color: purple;
// color:white;
// font-weight: bold;
// font-size: medium;


// width : 110vw;

// }


// .logoutBtn
// {direction: Rtl;}


.navbar{

  background-color: purple;
  color: white;
  font-weight: bold;
  font-size: large;
}
