
.hd{
width: 100vw;
height: 70px ;
background-color: purple;
font-weight: bold;
font-size: large;
position: fixed;

display: flex;
align-items: center;
}

.customersLabel , .ordersLabel ,.aboutUsLabel,.LogoutLabel{
  color: white;
  border-radius: 20px;
}


.LogoutLabel{
  float: right;
  margin-right: 15px;
}

.imageDiv
{
  border-radius: 20px;
}

.routerDiv{
background-color: purple;
margin-top: 69px;
height: 100vw;

}





