<div class="container-fluid loginContainer">


  <form>
  <div class="login">Login</div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="emailTxt">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="passTxt">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>

    <button type="submit" class="btn btn-primary regBtn" (click)="gotoRegister()" >Register</button>


  </form>

</div>
<!-- <router-outlet></router-outlet> -->
