.costumer-manager{
    background-color: grey;
    text-align:left;
    padding: 1%;
    color: white;
    font-size: large;
}
.costumers{
margin-top: 2%;
margin-left: 10px;font-size:medium ;

}
.filter{
    margin-top: 30px;
    margin-left: 10px;
}
.add-new-costumer{
    margin-left: 70%;
    margin-bottom: 20px;
}

